APP_NAME=Mesort
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://mesort.test


LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


APP_DEPLOY_SECRET=
ALTCHA_HMAC_KEY=

MAX_NUMBER_STUDIES=10
LINGUA_ADMIN=
VITE_ENV_MODE=development
BLOCKED_IPS=
