// Body
$body-bg: #fdfbf7;
$question-bg: #e9e7e3;

// Typography
$font-family-sans-serif: 'Inter var','Helvetica Neue', 'Arial';
$family-primary: $font-family-sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$family-header: 'Inter var',Helvetica,Arial,sans-serif;
$success: #046cbe;
$primary: #046cbe;
$danger: #d92442;
$is-primary: #046cbe !default;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #d92442;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
